In [1]:
numbers = [5, 10, 15, 20, 25]
total_sum = sum(numbers)
average = total_sum / len(numbers)
print("Sum:", total_sum)
print("Average:", average)

Sum: 75
Average: 15.0

In [2]:
numbers = [17, 34, 8, 45, 23]
max_value = max(numbers)
min_value = min(numbers)
print("Maximum:", max_value)
print("Minimum:", min_value)

Maximum: 45
Minimum: 8

In [7]:
n = 15
odd_numbers = []

current_number = 1
while len(odd_numbers) < n:
    odd_numbers.append(current_number)
    current_number += 2

print("First", n, "odd numbers:", odd_numbers)

First 15 odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [4]:
set1 = {2, 4, 6, 8, 10}
set2 = {5, 10, 15, 20}
union_result = set1.union(set2)
intersection_result = set1.intersection(set2)
print("Union:", union_result)
print("Intersection:", intersection_result)

Union: {2, 4, 5, 6, 8, 10, 15, 20}
Intersection: {10}

In [9]:
import pandas as pd

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

numbers = [5, 7, 3, 4, 6]
factorial_results = []

for num in numbers:
    result = factorial(num)
    factorial_results.append(result)

data = {'Number': numbers, 'Factorial': factorial_results}
df = pd.DataFrame(data)

print(df)

   Number  Factorial
0       5        120
1       7       5040
2       3          6
3       4         24
4       6        720